
<h1>
	My first rails app!
</h1>
<p>
	Setup wasn't so bad so far, <%= link_to "(checking)", "http://harinisaladi.com" %> but it took forever.
</p>
<p>
	Hopefully I'm able to pick this up quickly. It's been a while since I've coded much :)
</p>

<p>
	<a href="#">Sign up now!</a>
</p>