<div class="hero-unit">
	<h3>
		My first rails app!
	</h3>
	
		<p>
		Setup wasn't so bad so far, <%= link_to "(checking)", "http://harinisaladi.com" %> but it took forever.
		</p>
		<p>
			Hopefully I'm able to pick this up quickly. It's been a while since I've coded much :)
		</p>

		<p>
			<a href="#" class="btn btn-primary">Sign up now!</a>
		</p>
</div>
	